{% load bootstrap4 %}
{% load botc_script_tags %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
    Add to Collection
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add to Collection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'add_to_collection' %}" method="post">
                <div class="modal-body">
                    <select class="custom-select" id="collection" name="collection">
                        {% for collection in user.collections.all|dictsort:"name" %}
                            {% script_in_collection collection script_version as is_script_in_collection %}
                            {% if not is_script_in_collection %}
                                <option value={{collection.pk}}>{{ collection.name }} </option>
                            {% endif %}
                        {% endfor %}
                    </select>    
                    <input type="hidden" name="script_version" value={{ script_version.pk }}>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>