{% extends 'base.html' %}

{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            {% bootstrap_form form exclude="all_scripts,tag_combinations,tags,number_of_townsfolk,number_of_outsiders,number_of_minions,number_of_demons, number_of_fabled" %}
        </div>
        <div class="col">
            {% bootstrap_form form layout='horizontal' exclude="name,author,script_type,includes_characters,excludes_characters,edition,minimum_number_of_likes,minimum_number_of_favourites,minimum_number_of_comments" %}
        </div>
    </div>
    {% buttons %}
        <button type="submit" class="btn btn-primary m-1">Submit</button>
    {% endbuttons %}
</form>
  
{% endblock %}