{% extends 'base.html' %}

{% block content %}
{% load botc_script_tags %}
{% load bootstrap_icons %}

<script>
    function htmlDecode(input) {
        var doc = new DOMParser().parseFromString(input, "text/html");
        return doc.documentElement.textContent;
    }
    function CopyLink() {
        navigator.clipboard.writeText(htmlDecode('{{ content }}'))
    }
</script>

<div class="row">
    <div class="col-auto">
        <h1>
            All Roles/Fishbucket
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-auto pt-1 pr-0 h-75">
        <form class="mb-0">
            <select class="custom-select" name="selected_edition" onchange="this.form.submit();">
                {% for edition_option in editions %}
                    <option {% if edition.label == edition_option.1 %}selected{% endif %}>{{ edition_option.1 }} </option>
                {% endfor %}
            </select>    
        </form>
    </div>
    <div class="col-md-auto pl-1 p-0">
        <form class="form-inline mb-0" method="get" action="{% url 'download_all_roles_json' %}">
            <div class="col-md-auto p-1 pt-0">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">Download JSON</button>
                    <button type="submit" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="downloadJsonButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="downloadJsonButton">
                        {% for language in languages %}
                            <button type="submit" class="dropdown-item" name="language_select" value={{ language }}>{% get_language_name language %}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>  
    <div class="col-md-auto p-1">
        <button class="btn btn-primary" onclick="CopyLink()">JSON</button>
    </div>
</div>
<div class="row">
    <div class="col-md-auto pl-3 pr-0 pt-0 pb-0">
        Base 3: 
            {% if edition == 0 %}
                {% bs_icon "check-circle-fill" color="green" extra_classes="pb-1" size="24px" %}
            {% else %}
                {% bs_icon "x-circle-fill" color="red" extra_classes="pb-1" size="24px" %}
            {% endif %}
    </div>
    <div class="col-md-auto pl-2 pr-0 pt-0 pb-0">
        Kickstarter:
            {% if edition <= 1 %}
                {% bs_icon "check-circle-fill" color="green" extra_classes="pb-1" size="24px" %}
            {% else %}
                {% bs_icon "x-circle-fill" color="red" extra_classes="pb-1" size="24px" %}
            {% endif %}
    </div>
    <div class="col-md-auto pl-2 pr-0 pt-0 pb-0">
        clocktower.online:
            {% if edition <= 2 %}
                {% bs_icon "check-circle-fill" color="green" extra_classes="pb-1" size="24px" %}
            {% else %}
                <i class="fa-sharp fa-ban fa-lg" style="color: red" ></i>
            {% endif %}
    </div>
</div>

<div>
    {% for role in content %}
        {% if role.id != "_meta" %}
            {% character_type_change content forloop.counter0 as newline %}
            {% if newline %}
                <br>
            {% endif %}
            {% character_colourisation role.id as character_colour %}
            <li><span {{ character_colour }}>{% convert_id_to_friendly_text role.id %}</span></li>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}