{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!doctype html>
<html class="h-100">

<style>
.badge-purple {
   color: #ffffff;
   background-color: #694c8f;
}
.badge-nocturne {
    color: #6e9dcd;
    background-color: #000000;
}
</style>

<title>BotC Scripts</title>

<head>
    <meta name="google-site-verification" content="e7R5G0n4MYvX8KBMqBcy6QS-0sLf-10F6Fp3CULDhVI" />
</head>

<body class="d-flex flex-column h-100">
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand">BotC Scripts</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/script/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/script/upload">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/statistics">Statistics</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="collectionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Collections
                    </a>
                    <div class="dropdown-menu" aria-labelledby="collectionDropdown">
                        <a class="dropdown-item" href="/collections">View</a>
                        <a class="dropdown-item" href="/collection/new">New</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/collections">Collections</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="worldcupDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        🏆 World Cup
                    </a>
                    <div class="dropdown-menu" aria-labelledby="worldcupDropdown">
                        <a class="dropdown-item" href="/worldcup">Results</a>
                        <a class="dropdown-item" href="/worldcup/statistics">Statistics</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="scriptDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Special Scripts
                    </a>
                    <div class="dropdown-menu" aria-labelledby="scriptDropdown">
                        <a class="dropdown-item" href="/script/all_roles">Fishbucket</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login/Signup</a>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/account/favourites">Favourites</a>
                        <a class="dropdown-item" href="/account/scripts">My Scripts</a>
                        <a class="dropdown-item" href="/account/social">Link Account</a>
                        <a class="dropdown-item" href="/account/delete">Delete Account</a>
                      </div>
                </li>
                <li class="nav-item">
                    <form class="m-0" method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
                        {% endif %}
                        <button class="btn btn-dark">{% trans "Log Out" %}</button>
                    </form>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/AdmiralGT/botc-scripts" target="_blank">GitHub</a>
                </li>
            </ul>
        </div>
    </nav>

    {% if BANNER %}
        <div class="alert alert-danger">
            {{ BANNER }}
        </div>
    {% endif %}

    <main role="main" class="flex-shrink-0">
        <div class="container">

            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="footer mt-auto">
        <div class="container">
            <span class="text-muted">This project is not affiliated with The Pandemonium Institute.
                All roles, content are the property of Steven Medway and The Pandemonium Institute.
            </span>
        </div>
    </footer>
</body>

</html>