{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!doctype html>
<html class="h-100">

<style>
.badge-purple {
   color: #ffffff;
   background-color: #694c8f;
}
.badge-nocturne {
    color: #6e9dcd;
    background-color: #000000;
}
</style>

<title>BotC Scripts</title>

<head>
    <meta name="google-site-verification" content="e7R5G0n4MYvX8KBMqBcy6QS-0sLf-10F6Fp3CULDhVI" />
</head>

<body class="d-flex flex-column h-100">
    {% include 'navbar.html' %}

    {% if BANNER %}
        <div class="alert alert-danger">
            {{ BANNER }}
        </div>
    {% endif %}

    <main role="main" class="flex-shrink-0">
        <div class="container">

            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="footer mt-auto">
        <div class="container">
            <span class="text-muted">This project is not affiliated with The Pandemonium Institute.
                All roles, content are the property of Steven Medway and The Pandemonium Institute.
            </span>
        </div>
    </footer>
</body>

</html>