{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}
{% load markdownify %}

{% block content %}

<div class="row">
    <div class="col">
        <h2>{{collection.name}}</h2>
    </div>
    {% if not collection.notes %}
    <div class="col align-self-end">
        <p class="font-weight-bold text-right">
            Results: {{ table.rows|length }}
        </p>
    </div>
    {% endif %}
</div>
{% if collection.notes %}
<div class="row">
    <div class="col">
        {{ collection.notes|markdownify }}
    </div>
    <div class="col align-self-end">
        <p class="font-weight-bold text-right">
            Results: {{ table.rows|length }}
        </p>
    </div>
</div> 
{% endif %}


{% include "table.html" %}

{% endblock %}