{% load bootstrap4 %}

{% block content %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#commentDeleteModal{{comment.pk}}">
    Delete
</button>

<!-- Modal -->
<div class="modal fade" id="commentDeleteModal{{comment.pk}}" tabindex="-1" role="dialog" aria-labelledby="commentDeleteModalLabel{{comment.pk}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure you want to delete this comment?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <form action="{% url 'delete_comment' comment.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

