{% extends 'base.html' %}

{% block content %}
<h1>Script</h1>

{% if object_list %}
    <ul>
    {% for script in object_list %}
        {% if script.latest_version.author %}
            <li><a href="/script/{{ script.id }}">{{ script.name }}</a> - {{ script.latest_version.author }}</li>
        {% else %}
            <li><a href="/script/{{ script.id }}">{{ script.name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No Scripts are available.</p>
{% endif %}
{% endblock %}