{% load bootstrap4 %}
{% load botc_script_tags %}

<!-- Button trigger modal -->
<div class="mb-0">
    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal{{record.pk}}">
        Remove
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{record.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove from Collection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove script {{record.script.name}}, v{{record.version}} from {{collection.name}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <form action="{% url 'remove_from_collection' collection.pk record.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
            </div>
        </div>
    </div>
</div>