<h1>{{ script.name }}</h1>

<h2>{{ script_version.type }}</h2>
<h2>{{ script_version.version }}</h2>


{% for role in script_version.content %}
    {% if role.id != "_meta" %}
        <li>{{ role.id }}</li>
    {% endif %}
{% endfor %}

<form>
<select id="sel_id" name="sel_name"  onchange="this.form.submit();">
    {% for versions in script.versions.all %}
        <option {% if script_version.version == versions.version %}selected{% endif %}>{{ versions.version }} </option>
    {% endfor %}
</select>    
</form>

{% csrf_token %}
<a class="button" href="{% url 'download' script.pk script_version.version %}">Download</a>
