{% extends 'base.html' %}

{% block content %}
{% load markdownify %}

<h1>
    {{ script.name }} - v{{ script_version.version }}
</h1>

{% if script_version.author or script_version.tags %}
    <div class="row">
    {% if script_version.author %}
        <div class="col-auto pr-1">
            <h2>
                by {{ script_version.author }}
            </h2>
        </div>
    {% endif %}

    {% if script_version.script.owner == user %}
        <div class="col-auto align-self-center">
            <h4><span class="badge badge-pill badge-dark">You</span></h4>
        </div>
    {% endif %}

    {% if script_version.tags %}
        {% load botc_script_tags %}
        <div class="col-auto align-self-center">
            {% for tag in script_version.tags.all %}
                {% get_tag_type tag as badge_tag %}
                <span class="badge badge-pill {{ badge_tag }}">{{ tag }}</span>
            {% endfor %}    
        </div>
    {% endif %}
    </div>
{% endif %}

<div class="row p-1">
    <div class="col-md-auto p-1">
        <form class="mb-0">
            <select class="custom-select" id="sel_id" name="sel_name" onchange="this.form.submit();">
                {% for versions in script.versions.all %}
                    <option {% if script_version.version == versions.version %}selected{% endif %}>{{ versions.version }} </option>
                {% endfor %}
            </select>    
        </form>
    </div>
    {% csrf_token %}
    <div class="col-md-auto h-100 p-1">
        <a class="btn btn-primary" href="{% url 'download_json' script.pk script_version.version %}">Download JSON</a>
    </div>
    {% if script_version.pdf %}
        <div class="col-md-auto h-100 p-1">
            <a class="btn btn-primary" href="{% url 'download_pdf' script.pk script_version.version %}">Download PDF</a>
        </div>
    {% endif %}
    <div class="col-md-auto h-100 p-1">
        <a class="btn btn-primary" href="{% url 'upload' %}?script={{script.pk}}">Upload new version</a>
    </div>
</div>

<div class="row p-1" height="720">
    {% if script_version.pdf %}
        <div class="col-sm-6">
            <embed src="{{ script_version.pdf.url }}#toolbar=0" type="application/pdf" width="100%" height="720">
        </div>
    {% endif %}
    <div class="flex-shrink-0">
        {% for role in script_version.content %}
            {% if role.id != "_meta" %}
                <li>{{ role.id }}</li>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col">
    {% if script_version.notes %}
        {{ script_version.notes|markdownify }}
    {% endif %}
        {% for version, diffs in changes.items %}
            <h2>{{ diffs.previous_version }} -> {{ version }}</h2>
            <div class="row">
                <div class="col-sm-2">
                    <ul class="p-0">
                        {% for role in diffs.additions %}
                            <li class="list-group-item p-0 border-0">+{{ role.id }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul class="p-0">
                        {% for role in diffs.deletions %}
                            <li class="list-group-item p-0 border-0">-{{ role.id }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}