{% extends 'base.html' %}

{% load bootstrap4 %}
{% load botc_script_tags %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

<style>
    .table-striped-good>tbody>tr:nth-child(odd)>td {
        background-color: #85c1e9;
    }

    .table-striped-good>tbody>tr:nth-child(even)>td {
        background-color: #d6eaf8;
    }

    .table-striped-evil>tbody>tr:nth-child(odd)>td {
        background-color: #f5b7b1;
    }

    .table-striped-evil>tbody>tr:nth-child(even)>td {
        background-color: #fadbd8;
    }

    .table-striped-traveller>tbody>tr:nth-child(odd)>td {
        background-color: #d6eaf8;
    }

    .table-striped-traveller>tbody>tr:nth-child(even)>td {
        background-color: #fadbd8;
    }

    .table-striped-fabled>tbody>tr:nth-child(odd)>td {
        background-color: #fff099;
    }

    .table-striped-fabled>tbody>tr:nth-child(even)>td {
        background-color: #fff0cc;
    }
    .table-striped-loric>tbody>tr:nth-child(odd)>td {
        background-color: rgba(46, 71, 28, 0.4);
    }

    .table-striped-loric>tbody>tr:nth-child(even)>td {
        background-color: rgba(189, 205, 81, 0.4);
    }
</style>

<div class="container">
    <div class="row">
        {% if stats_character %}
            <h1>Total {{ stats_character }} Scripts in Database: {{ total }}</h1>
        {% else %}
            <h1>Total Scripts in Database: {{ total }}</h1>
        {% endif %}
        <div class="col float-right pr-0">
            {% if user.is_authenticated and filter %}
            <form action="" method="get" class="form mb-0">
                <div class="float-right form-group row p-1 mb-0">
                    {% bootstrap_form filter.form layout='inline' form_group_class="mb-0 m-1" %}
                    {% bootstrap_button 'filter' extra_classes="btn-sm mr-1" %}
                    {% bootstrap_button 'clear' extra_classes="btn-sm" href="/statistics" %}
                </div>
            </form>
            <div class="float-right mr-4 mt-2">
            {% else %}
            <div class="float-right mt-2">
            {% endif %}
            <input type="range" min="1" max="25" value="5" class="slider" id="DisplayRange">
            <span id="DisplayRangeLabel"></label>
        </div>
    </div>
    </div>
</div>

{% if total > 0 %}
<div class="container">
    <div class="row">
        <div class="col w-50 pl-0">
            <h4 class="mt-2">Most popular Townsfolk</h4>
            <table class="w-100 table-sm table-striped-good">
                <tbody>
                    {% for character, count in Townsfolk %}
                    <tr class='row{{forloop.counter|stringformat:"02d"}}' background-color="#">
                        <td class="w-50"><a href="/statistics/{{ character.character_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                        <td class="w-25 text-center">{% get_character_percentage count total %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col w-50 pr-0">
            <h4 class="mt-2">Least popular Townsfolk</h4>
            <table class="w-100 table-sm table-striped-good">
                <tbody>
                    {% for character, count in Townsfolkleast %}
                    <tr class='row{{forloop.counter|stringformat:"02d"}}' background-color="#">
                        <td class="w-50"><a href="/statistics/{{ character.character_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                        <td class="w-25 text-center">{% get_character_percentage count total %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col w-50 pl-0">
            <h4 class="mt-2">Most popular Outsider</h4>
            <table class="w-100 table-sm table-striped-good">
                <tbody>
                    {% for character, count in Outsider %}
                    <tr class='row{{forloop.counter|stringformat:"02d"}}' background-color="#">
                        <td class="w-50"><a href="/statistics/{{ character.character_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                        <td class="w-25 text-center">{% get_character_percentage count total %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col w-50 pr-0">
            <h4 class="mt-2">Least popular Outsider</h4>
            <table class="w-100 table-sm table-striped-good">
                <tbody>
                    {% for character, count in Outsiderleast %}
                    <tr class='row{{forloop.counter|stringformat:"02d"}}' background-color="#">
                        <td class="w-50"><a href="/statistics/{{ character.character_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                        <td class="w-25 text-center">{% get_character_percentage count total %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col w-50 pl-0">
            <h4 class="mt-2">Most popular Minions</h4>
            <table class="w-100 table-sm table-striped-evil">
                <tbody>
                    {% for character, count in Minion %}
                    <tr class='row{{forloop.counter|stringformat:"02d"}}' background-color="#">
                        <td class="w-50"><a href="/statistics/{{ character.character_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                        <td class="w-25 text-center">{% get_character_percentage count total %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col w-50 pr-0">
            <h4 class="mt-2">Least popular Minions</h4>
            <table class="w-100 table-sm table-striped-evil">
                <tbody>
                    {% for character, count in Minionleast %}
                    <tr class='row{{forloop.counter|stringformat:"02d"}}' background-color="#">
                        <td class="w-50"><a href="/statistics/{{ character.character_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                        <td class="w-25 text-center">{% get_character_percentage count total %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col w-50 pl-0">
            <h4 class="mt-2">Most popular Demons</h4>
            <table class="w-100 table-sm table-striped-evil">
                <tbody>
                    {% for character, count in Demon %}
                    <tr class='row{{forloop.counter|stringformat:"02d"}}' background-color="#">
                        <td class="w-50"><a href="/statistics/{{ character.character_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                        <td class="w-25 text-center">{% get_character_percentage count total %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col w-50 pr-0">
            <h4 class="mt-2">Least popular Demons</h4>
            <table class="w-100 table-sm table-striped-evil">
                <tbody>
                    {% for character, count in Demonleast %}
                    <tr class='row{{forloop.counter|stringformat:"02d"}}' background-color="#">
                        <td class="w-50"><a href="/statistics/{{ character.character_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                        <td class="w-25 text-center">{% get_character_percentage count total %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col w-50 pl-0">
            <h4 class="mt-2">Most popular Travellers</h4>
            <table class="w-100 table-sm table-striped-traveller">
                <tbody>
                    {% for character, count in Traveller %}
                    <tr class='row{{forloop.counter|stringformat:"02d"}}' background-color="#">
                        <td class="w-50"><a href="/statistics/{{ character.character_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                        <td class="w-25 text-center">{% get_character_percentage count total %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col w-50 pr-0">
            <h4 class="mt-2">Least popular Travellers</h4>
            <table class="w-100 table-sm table-striped-traveller">
                <tbody>
                    {% for character, count in Travellerleast %}
                    <tr class='row{{forloop.counter|stringformat:"02d"}}' background-color="#">
                        <td class="w-50"><a href="/statistics/{{ character.character_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                        <td class="w-25 text-center">{% get_character_percentage count total %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col w-50 pl-0">
            <h4 class="mt-2">Most popular Fabled</h4>
            <table class="w-100 table-sm table-striped-fabled">
                <tbody>
                    {% for character, count in Fabled %}
                    <tr class='row{{forloop.counter|stringformat:"02d"}}' background-color="#">
                        <td class="w-50"><a href="/statistics/{{ character.character_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                        <td class="w-25 text-center">{% get_character_percentage count total %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col w-50 pr-0">
            <h4 class="mt-2">Least popular Fabled</h4>
            <table class="w-100 table-sm table-striped-fabled">
                <tbody>
                    {% for character, count in Fabledleast %}
                    <tr class='row{{forloop.counter|stringformat:"02d"}}' background-color="#">
                        <td class="w-50"><a href="/statistics/{{ character.character_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                        <td class="w-25 text-center">{% get_character_percentage count total %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col w-50 pl-0">
            <h4 class="mt-2">Most popular Loric</h4>
            <table class="w-100 table-sm table-striped-loric">
                <tbody>
                    {% for character, count in Loric %}
                    <tr class='row{{forloop.counter|stringformat:"02d"}}' background-color="#">
                        <td class="w-50"><a href="/statistics/{{ character.character_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                        <td class="w-25 text-center">{% get_character_percentage count total %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col w-50 pr-0">
            <h4 class="mt-2">Least popular Loric</h4>
            <table class="w-100 table-sm table-striped-loric">
                <tbody>
                    {% for character, count in Loricleast %}
                    <tr class='row{{forloop.counter|stringformat:"02d"}}' background-color="#">
                        <td class="w-50"><a href="/statistics/{{ character.character_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                        <td class="w-25 text-center">{% get_character_percentage count total %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    {% include "chart.html" with ChartName="TownsfolkChart" ChartLabel="Number of Townsfolk" ChartDictionary=num_count.Townsfolk ChartColor="rgba(214,234,248,1)" ChartBorder="rgba(133,193,233,1)" %}
    {% include "chart.html" with ChartName="OutsiderChart" ChartLabel="Number of Outsiders" ChartDictionary=num_count.Outsider ChartColor="rgba(214,234,248,1)" ChartBorder="rgbargba(133,193,233,1)" %}
    {% include "chart.html" with ChartName="MinionChart" ChartLabel="Number of Minions" ChartDictionary=num_count.Minion ChartColor="rgba(250,219,216,1)" ChartBorder="rgba(245,183,177,1)" %}
    {% include "chart.html" with ChartName="DemonChart" ChartLabel="Number of Demons" ChartDictionary=num_count.Demon ChartColor="rgba(250,219,216,1)" ChartBorder="rgba(245,183,177,1)" %}
    {% include "chart.html" with ChartName="TravellerChart" ChartLabel="Number of Travellers" ChartDictionary=num_count.Traveller ChartColor="rgba(0,0,255,0.2)" ChartBorder="rgbargba(133,193,233,1)" %}
    {% include "chart.html" with ChartName="FabledChart" ChartLabel="Number of Fabled" ChartDictionary=num_count.Fabled ChartColor="rgba(255,240,204,1)" ChartBorder="rgba(255,240,153,1)" %}
    {% include "chart.html" with ChartName="LoricChart" ChartLabel="Number of Loric" ChartDictionary=num_count.Loric ChartColor="rgba(203,214,129,1)" ChartBorder="rgba(135,143,81,1)" %}

    function show_and_hide_table_rows(rows_to_display) {
        for (let i = 0; i < rows_to_display + 1; i++) {
            let rowstring = '.row' + i.toString().padStart(2, '0')
            for (let el of document.querySelectorAll(rowstring)) el.style.display = '';
        }
        for (let i = rows_to_display + 1; i < 100; i++) {
            let rowstring = '.row' + i.toString().padStart(2, '0')
            for (let el of document.querySelectorAll(rowstring)) el.style.display = 'none';
        }

    }
    var slider = document.getElementById("DisplayRange");
    var label = document.getElementById("DisplayRangeLabel");
    label.innerHTML = slider.value;
    show_and_hide_table_rows(parseInt(slider.value))
    

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
        label.innerHTML = this.value;
        show_and_hide_table_rows(parseInt(this.value))
    }
</script>

<canvas id="TownsfolkChart" width="400" height="100"></canvas>  
<canvas id="OutsiderChart" width="400" height="100"></canvas>  
<canvas id="MinionChart" width="400" height="100"></canvas>  
<canvas id="DemonChart" width="400" height="100"></canvas>  
<canvas id="TravellerChart" width="400" height="100"></canvas>  
<canvas id="FabledChart" width="400" height="100"></canvas>
<canvas id="LoricChart" width="400" height="100"></canvas>  

{% endif %}

{% endblock %}