{% extends 'base.html' %}

{% load bootstrap4 %}
{% load botc_script_tags %}

{% block title %}{% if form.fields.content %}Upload a script{% elif object %}Edit collection{% else %}New collection{% endif %} - BotC Scripts{% endblock %}

{% block content %}

<h1 class="h3 mb-3">{% if form.fields.content %}Upload a script{% elif object %}Edit collection{% else %}New collection{% endif %}</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            {% bootstrap_form form exclude="notes,tags" form_group_class="form-group m-1" %}
            {% if form.fields.tags.widget.choices.queryset|length > 0 %}
            <div class="form-group">
                    <label>Tags</label>
                    <div class="checkbox" id="id_tags">
                        {% for tag in form.fields.tags.widget.choices.queryset %}
                            <div class="form-check">
                                <label class="form-check-label pt-1" for="id_tags_{{ forloop.counter0 }}">
                                    <input class="form-check-input" id="id_tags_{{ forloop.counter0 }}" name="tags" title type="checkbox" value="{{tag.name}}"
                                    {% script_has_tag tag form.initial as does_script_have_tag %}
                                    {% if does_script_have_tag %}
                                        checked="checked"
                                    {% endif %}
                                    >
                                    <span class="badge badge-pill {{ tag.style }} pt-1">{{ tag }}</span>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        {% if form.notes %}
        <div class="col-md-6">
            {% bootstrap_field form.notes %}
        </div>
        {% endif %}
    </div>
    {% buttons %}
        {% if UPLOAD_DISABLED and not user.is_staff %}
            <button type="submit" class="btn btn-primary m-1" disabled>Submit</button>
            <small class="form-text text-muted m-1">Uploads are temporarily disabled.</small>
        {% else %}
            <button type="submit" class="btn btn-primary m-1">Submit</button>
        {% endif %}
    {% endbuttons %}
</form>

{% endblock %}