{% extends 'base.html' %}

{% load bootstrap4 %}
{% load botc_script_tags %}

{% block content %}

<h1>Round 1</h1>
<div class="container w-100 p-0">
    <div class="row p-0">
        <div class="table-striped w-100 p-0">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center col-sm-5">
                            Script 1
                        </th>
                        <th class="col-sm-1">
                        </th>
                        <th class="text-center col-sm-5">
                            Script 2
                        </th>
                        <th class="text-center col-sm-2">
                            VoD
                        </th>
                        <th class="text-center col-sm-1">
                            Voting Link
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in round1 %}
                    <tr>
                        <td class="align-middle text-center p-0">
                            <a href="{% url 'script' pk=entry.script1.script.pk version=entry.script1.version %}">{{ entry.script1.script.name }}</a>
                        </td>   
                        <td class="align-middle text-center p-0">
                            vs
                        </td>   
                        <td class="align-middle text-center p-0">
                            <a href="{% url 'script' pk=entry.script2.script.pk version=entry.script2.version %}">{{ entry.script2.script.name }}</a>
                        </td>   
                        <td class="align-middle text-center p-0">
                            {% for vod in entry.vod|split %}
                                <a href="{{ vod }}" target="_blank">
                                    <button class="btn btn-link btn-sm p-0">
                                    VoD
                                    </button>
                                </a>
                            {% endfor %}
                        </td>
                        <td class="align-middle text-center p-0">
                            {% if entry.form %}
                            <a href="{{ entry.form }}" target="_blank">
                                <button class="btn btn-link btn-sm p-0">
                                    Vote
                                </button>
                            </a>
                            {% endif %}
                        </td>   
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
    </div>
</div>  

{% endblock %}