<div>

	{% include 'script_table/actions/download_json.html' %}
	{% include 'script_table/actions/download_pdf.html' %}

    {% load bootstrap4 %}
    {% load botc_script_tags %}
    {% load bootstrap_icons %}

    {% user_favourite  record as starstyle %}
    {% user_voted_icon record as user_voted_icon %}

    <form class='d-inline-block m-0 mb-1' action="{% url 'vote' record.script.pk record.version %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
        <button type="submit" class="btn {% user_voted record %} btn-sm">{% bs_icon user_voted_icon %}</button>
    </form>

    <form class='d-inline-block m-0 mb-1' action="{% url 'favourite' record.script.pk record.version %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
        <button type="submit" class="btn btn-warning btn-sm">{% bs_icon starstyle %}</button>
    </form>

</div>