<div class="d-flex">

	{% include 'script_table/actions/download_json.html' %}
	{% include 'script_table/actions/download_pdf.html' %}

    {% load bootstrap4 %}
    {% load botc_script_tags %}
    {% load bootstrap_icons %}

    <!-- Button trigger modal -->
    <div class="m-1">
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#removeFromCollectionModal{{record.pk}}">
            {% bs_icon 'trash-fill' %}
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="removeFromCollectionModal{{record.pk}}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Remove from Collection</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove script {{record.script.name}}, v{{record.version}} from {{collection.name}}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <form action="{% url 'remove_from_collection' collection.pk record.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>