{% extends 'base.html' %}

{% block content %}
{% load markdownify %}
{% load botc_script_tags %}
{% load bootstrap_icons %}
<style>
    div.alert-messages {
        position: fixed;
        top: 80px;
        left: 44%;
        right: 44%;
        z-index: 7000;
    }
</style>

<script>
    // Set the name of the page to the name & version of the script.    
    document.title = "{{ script.name }} v{{ script_version.version }}"
  
    function showAndDismissAlert(message) {
        var htmlAlert = '<div class="alert alert-primary' + '">' + message + '</div>';

        // Prepend so that alert is on top, could also append if we want new alerts to show below instead of on top.
        $(".alert-messages").prepend(htmlAlert);

        // Since we are prepending, take the first alert and tell it to fade in and then fade out.
        // Note: if we were appending, then should use last() instead of first()
        $(".alert-messages .alert").first().hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
    }    
  
    // AdmiralGT: Does this still need to go to the same API destination?
    function CopyLink() {
        navigator.clipboard.writeText("https://{{request.META.HTTP_HOST}}/api/scripts/{{script_version.pk}}/json/")
        showAndDismissAlert("Link Copied to Clipboard")
    }
</script>
<div class="row">
    <div class="col-auto">
        <h1>
            {{ script.name }} - v{{ script_version.version }}
        </h1>
    </div>
    <div class="col-auto ml-auto align-self-end">
        {% include "info.html" with record=script_version %}
    </div>
</div>

{% if script_version.author or script_version.tags.all %}
    <div class="row">
    {% if script_version.author %}
        <div class="col-auto pr-1">
            <h2>
                by {{ script_version.author }}
            </h2>
        </div>
    {% endif %}

    {% if script_version.script.owner == user %}
        <div class="col-auto align-self-center">
            <h4><span class="badge badge-pill badge-dark">You</span></h4>
        </div>
    {% endif %}

    {% if script_version.tags.all|length > 0 %}
        {% load botc_script_tags %}
        <div class="col-auto align-self-center">
            {% for tag in script_version.tags.all %}
                <span class="badge badge-pill {{ tag.style }}">{{ tag }}</span>
            {% endfor %}    
        </div>
    {% endif %}
    </div>
{% endif %}

<div class="row">
    <div class="col-md-auto pt-1 pr-0 h-75">
        <form class="mb-0">
            <select class="custom-select" name="selected_version" onchange="this.form.submit();">
                {% for versions in script.versions.all|dictsortreversed:"version" %}
                    <option {% if script_version.version == versions.version %}selected{% endif %}>{{ versions.version }} </option>
                {% endfor %}
            </select>    
        </form>
    </div>
    <div class="col-md-auto pl-1 p-0">
        <form class="form-inline mb-0" method="get" action="{% url 'download_json' script.pk script_version.version %}">
            <div class="col-md-auto p-1 pt-0">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">Download JSON</button>
                </div>
            </div>
        </form>
    </div>  
    {% if script_version.pdf %}
        <div class="col-md-auto p-1">
            <a class="btn btn-primary" href="{% url 'download_pdf' script.pk script_version.version %}">Download PDF</a>
        </div>
    {% endif %}
    {% if not script.owner or user == script_version.script.owner %}
        <div class="col-md-auto p-1">
            <a class="btn btn-primary" href="{% url 'upload' %}?script={{script.pk}}">Upload new version</a>
        </div>
    {% endif %}
    <div class="col-md-auto p-1">
        <button class="btn btn-primary" onclick="CopyLink()">JSON</button>
    </div>
    {% if user.is_authenticated %}
        {% if user.collections.count > 0 %}
            {% script_not_in_user_collection user script_version as script_can_be_added_to_collection %}
            {% if script_can_be_added_to_collection %}
                <div class="col-md-auto p-1">
                    {% include "add_to_collection.html" %}
                </div>
            {% endif %}    
        {% endif %}
        {% if can_delete %}
            <div class="col-md-auto p-1">
                {% include "delete_script.html" %}
            </div>
        {% endif %}
        <div class="col-md-auto p-1">
            {% include "favourite.html" with record=script_version %}
        </div>
    {% endif %}
    <div class="p-1 alert-messages text-center"></div>
</div>
{% if user.is_staff %}
<div class="col-md-auto pl-2 pr-0 pt-0 pb-0">
    Script ID: {{ script_version.pk }}        
</div>
{% endif %}


<ul class="nav nav-tabs" id="myTab" role="tablist">
    {% if script_version.notes %}
    <li class="nav-item">
        <a class="nav-link {% active_aria_status 'notes-tab' activetab %}" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="true">Notes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="characters-tab" data-toggle="tab" href="#characters" role="tab" aria-controls="characters" aria-selected="false">Characters</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link {% active_aria_status 'characters-tab' activetab %}" id="characters-tab" data-toggle="tab" href="#characters" role="tab" aria-controls="characters" aria-selected="true">Characters</a>
    </li>
    {% endif %}
    {% if changes.items|length > 0 %}
    <li class="nav-item">
        <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
    </li>
    {% endif %}
    {% if script_version.collections.count > 0 %}
    <li class="nav-item">
        <a class="nav-link" id="collection-tab" data-toggle="tab" href="#collection" role="tab" aria-controls="collection" aria-selected="false">Collections</a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link {% active_aria_status 'comments-tab' activetab %}" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Comments ({{ comments|length }})</a>
    </li>
</ul>
<div class="tab-content row p-1" height="720">
    {% if script_version.pdf %}
    <div class="col-sm-6">
        <embed src="{{ script_version.pdf.url }}#toolbar=0" type="application/pdf" width="100%" height="720">
    </div>
    {% endif %}
    {% if script_version.notes %}
    <div class="tab-pane fade {% active_tab_status 'notes-tab' activetab %} col-sm-6" id="notes" role="tabpanel" aria-labelledby="notes-tab">
        {{ script_version.notes|markdownify }}
    </div>
    <div class="tab-pane fade col-sm-6" id="characters" role="tabpanel" aria-labelledby="characters-tab">
    {% else %}
    <div class="tab-pane fade {% active_tab_status 'characters-tab' activetab %} col-sm-6" id="characters" role="tabpanel" aria-labelledby="characters-tab">
    {% endif %}
        {% for role in script_version.content %}
            {% if role.id != "_meta" %}
                {% character_type_change script_version.content forloop.counter0 as newline %}
                {% if newline %}
                    <br>
                {% endif %}
                {% character_colourisation role.id as character_colour %}
                <li><span {{ character_colour }}>{% convert_id_to_friendly_text role.id %}</span></li>
            {% endif %}
        {% endfor %}
    </div>
    {% if changes.items|length > 0 %}
    <div class="tab-pane fade col-sm-6" id="history" role="tabpanel" aria-labelledby="history-tab">
        {% for version, diffs in changes.items %}
            <h2>{{ diffs.previous_version }} -> {{ version }}</h2>
            <div class="row">
                <div class="col-sm-5">
                    <ul class="p-0">
                        {% for role in diffs.additions %}
                            <li class="list-group-item p-0 border-0">+ {% convert_id_to_friendly_text role.id %}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-5">
                    <ul class="p-0">
                        {% for role in diffs.deletions %}
                            <li class="list-group-item p-0 border-0">- {% convert_id_to_friendly_text role.id %}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="tab-pane fade col-sm-6" id="collection" role="tabpanel" aria-labelledby="collection-tab">
        <ul class="p-0">
            {% for collection in script_version.collections.all %}
                <li><a href="/collection/{{collection.pk}}">{{collection.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% if script_version.pdf %}
    <div class="tab-pane fade col-sm-6 {% active_tab_status 'comments-tab' activetab %}" id="comments" role="tabpanel" aria-labelledby="comments-tab">
    {% else %}
    <div class="tab-pane fade col-sm-8 {% active_tab_status 'comments-tab' activetab %}" id="comments" role="tabpanel" aria-labelledby="comments-tab">
    {% endif %}
        {% for comment_info in comments %}
            <div class="row">
                {% if comment_info.indent == 0 %}
                <div class="col">
                {% else %}
                <div class="col offset-sm-{{comment_info.indent}}">
                {% endif %}
                    {{ comment_info.comment.comment|markdownify }}
                </div>
                <div class="align-self-end">
                    {% if comment_info.comment.user == user %}
                    <a class="btn btn-info btn-sm" data-toggle="collapse" href="#edit_{{comment_info.comment.pk}}" role="button" aria-expanded="false" aria-controls="editPanel_{{comment.pk}}">Edit</a>
                    {% include "delete_comment.html" with comment=comment_info.comment %}
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#reply_{{comment_info.comment.pk}}" role="button" aria-expanded="false" aria-controls="replyPanel_{{comment.pk}}">Reply</a>
                    {% endif %}
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="row">
                <div class="col collapse" id="edit_{{comment_info.comment.pk}}" aria-labelledby="editPanel_{{comment_info.comment.pk}}">
                    <form action="{% url 'edit_comment' comment_info.comment.pk %}" method="post" id="comment_edit_form">
                        {% csrf_token %}
                        <textarea class="form-control" name="comment" rows="5">{{comment_info.comment.comment}}</textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-secondary btn-sm">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                {% if comment_info.indent > 0 %}
                <div class="col offset-sm-{{comment_info.indent}} collapse" id="reply_{{comment_info.comment.pk}}" aria-labelledby="replyPanel_{{comment_info.comment.pk}}">
                {% else %}
                <div class="col collapse" id="reply_{{comment_info.comment.pk}}" aria-labelledby="replyPanel_{{comment_info.comment.pk}}">
                {% endif %}
                    <form action="{% url 'create_comment' %}" method="post" id="comment_create_form">
                        {% csrf_token %}
                        <textarea class="form-control" name="comment" rows="5"></textarea>
                        <input type="hidden" name="script" value="{{script.pk}}">
                        <input type="hidden" name="parent" value="{{comment_info.comment.pk}}">
                        <div class="text-right">
                            <button type="submit" class="btn btn-secondary btn-sm">Add</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% if user.is_authenticated %}
    <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#reply" role="button" aria-expanded="false" aria-controls="replyPanel">New Comment</a>
    <div class="row">
        <div class="col collapse" id="reply" aria-labelledby="replyPanel">
            <form action="{% url 'create_comment' %}" method="post" id="comment_create_form">
                {% csrf_token %}
                <textarea class="form-control" name="comment" rows="5"></textarea>
                <input type="hidden" name="script" value="{{script.pk}}">
                <div class="text-right">
                    <button type="submit" class="btn btn-secondary btn-sm">Add</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}
