{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Delete account - BotC Scripts{% endblock %}

{% block content %}
<h1 class="h3">Delete account</h1>
<div class="row p-1">
    Deleting your account will not delete the scripts associated with it.
</div>
<div class="row p-1">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAccountModal">
        Delete account
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your account? This cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="{% url 'delete_user' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

