{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% load account socialaccount %}

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers  %}
  <div class="socialaccount_ballot">
    <ul class="socialaccount_providers list-unstyled">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      <li>
        <a title="Google" class="socialaccount_provider google" href="/google/login/?process=login">
          <img src="{% static 'btn_google_signin_dark_normal_web.png' %}"></img>
        </a>
      </li>
    </ul>
  </div>

{% endif %}