{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% load account socialaccount %}

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers  %}
  <!--
  This is the raw "real" HTML that facebook recommends.
  Leaving here for reference.
  <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
  -->

  <div class="socialaccount_ballot">
    <ul class="socialaccount_providers list-unstyled">
      <li>
        <a title="Google" class="socialaccount_provider google" href="/accounts/google/login/?process=login">
          <img src="{% static 'btn_google_signin_dark_normal_web.png' %}"></img>
        </a>
      </li>
    </ul>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}
{% endif %}