{% extends 'base.html' %}

{% block content %}

<style>
    .table-striped-good>tbody>tr:nth-child(odd)>td {
        background-color: #85c1e9;
    }

    .table-striped-good>tbody>tr:nth-child(even)>td {
        background-color: #d6eaf8;
    }

    .table-striped-evil>tbody>tr:nth-child(odd)>td {
        background-color: #f5b7b1;
    }

    .table-striped-evil>tbody>tr:nth-child(even)>td {
        background-color: #fadbd8;
    }

    .table-striped-traveller>tbody>tr:nth-child(odd)>td {
        background-color: #d6eaf8;
    }

    .table-striped-traveller>tbody>tr:nth-child(even)>td {
        background-color: #fadbd8;
    }

    .table-striped-fabled>tbody>tr:nth-child(odd)>td {
        background-color: #fff099;
    }

    .table-striped-fabled>tbody>tr:nth-child(even)>td {
        background-color: #fff0cc;
    }

    .table-striped-loric>tbody>tr:nth-child(odd)>td {
        background-color: #2e471c;
    }

    .table-striped-loric>tbody>tr:nth-child(even)>td {
        background-color: #bdcd51;
    }
</style>

<div class="container">
    {% include "worldcup/statstable.html" with left_title="Most Townsfolk Additions" right_title="Most Townsfolk Removals" addition=Townsfolkaddition deletion=Townsfolkdeletion table_style="table-striped-good" %}
    {% include "worldcup/statstable.html" with left_title="Most Outsider Additions" right_title="Most Outsider Removals" addition=Outsideraddition deletion=Outsiderdeletion table_style="table-striped-good" %}
    {% include "worldcup/statstable.html" with left_title="Most Minion Additions" right_title="Most Minion Removals" addition=Minionaddition deletion=Miniondeletion table_style="table-striped-evil" %}
    {% include "worldcup/statstable.html" with left_title="Most Demon Additions" right_title="Most Demon Removals" addition=Demonaddition deletion=Demondeletion table_style="table-striped-evil" %}
    {% include "worldcup/statstable.html" with left_title="Most Traveller Additions" right_title="Most Traveller Removals" addition=Travelleraddition deletion=Travellerdeletion table_style="table-striped-fabled" %}
    {% include "worldcup/statstable.html" with left_title="Most Fabled Additions" right_title="Most Fabled Removals" addition=Fabledaddition deletion=Fableddeletion table_style="table-striped-fabled" %}
</div>

{% endblock %}