<div class="row">
    <div class="col-md-6 mb-3">
        <h2 class="h4 mt-2">{{ left_title }}</h2>
        <div class="table-responsive-wrapper">
            <table class="w-100 table-sm {{ table_style }}">
                <caption class="sr-only">{{ left_title }}</caption>
                <thead class="sr-only"><tr><th scope="col">Character</th><th scope="col">Count</th></tr></thead>
                <tbody>
                    {% for character, count in addition %}
                    <tr>
                        <td class="w-75"><a href="/statistics/{{ character.json_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <h2 class="h4 mt-2">{{ right_title }}</h2>
        <div class="table-responsive-wrapper">
            <table class="w-100 table-sm {{ table_style }}">
                <caption class="sr-only">{{ right_title }}</caption>
                <thead class="sr-only"><tr><th scope="col">Character</th><th scope="col">Count</th></tr></thead>
                <tbody>
                    {% for character, count in deletion %}
                    <tr>
                        <td class="w-75"><a href="/statistics/{{ character.json_id }}" class="text-dark">{{ character.character_name }}</a></td>
                        <td class="w-25 text-center">{{ count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
